doctype html
html
  head
    title Contact
    link(rel='stylesheet', href='./style.css')
  body
    header
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/services') Our Services
          li
            a(href='/contact') Contact Us
    main
      h1 Our Contact Page
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tincidunt magna. Nulla aliquam diam vel orci laoreet, vitae consectetur justo faucibus. Nunc hendrerit suscipit metus, vel dictum nulla pretium vel. Proin feugiat metus nec mi bibendum, non vehicula arcu fringilla. 
      p Sed non ligula at tellus tincidunt lacinia. Nam consectetur, quam ac dignissim ullamcorper, sapien ex semper ex, quis bibendum massa lorem id nulla. Ut eu ullamcorper justo. 
    footer
      p Copyright © 2021 Our Company
